body {
    font-family: Arial, sans-serif;
    background-color: #0a0909;
    color: #ff6f61;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #0f0703;
    height: 700px;
    width: 800px;
}
.container:hover{
    background: linear-gradient(31deg, red,rgb(17, 174, 236));
}

h1 {
    font-size: 50px;
    margin-bottom: 5px;
    font-family: monospace;
}

p {
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background: linear-gradient(31deg, #5be451, #ce1111);
    

}

.box {
    background-color: #f9f8f8;
    border-radius: 8px;
    padding: 10px;
    color: #fbf7f7;
    cursor: default;
    font-size: 20px;
    transition: background-color 0,1s ease;
    background-color: #0a090a;
    margin: 10px;
}

.box:hover {
    background: linear-gradient(31deg, #fb7312, #1d9c2c);
    border-radius: 30% 50% / 50% 30%;
    color: black;
    font-style: italic;
}


.cursor-pointer { cursor: pointer; }
.cursor-help { cursor: help; }
.cursor-wait { cursor: wait; }
.cursor-progress { cursor: progress; }
.cursor-crosshair { cursor: crosshair; }
.cursor-text { cursor: text; }
.cursor-alias { cursor: alias; }
.cursor-zoom-in { cursor: zoom-in; }
.cursor-zoom-out { cursor: zoom-out; }
.cursor-move { cursor: move; }
.cursor-not-allowed { cursor: not-allowed; }
.cursor-col-resize { cursor: col-resize; }
.cursor-row-resize { cursor: row-resize; }
.cursor-grab { cursor: grab; }
.cursor-grabbing { cursor: grabbing; }
.cursor-all-scroll { cursor: all-scroll; }
